.wrap{
    width: 500px;
    /* height: 500px; */
    border-radius: 10%;
    background: #BBB;
    margin: 0 auto;
    padding: 50px;
}

input{
    color: #FFF;
    background: #999;
    font-size: 30px;
    font-weight: bolder;
    width: 480px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
}

hr{
    background: #000;
    height: 2px;
    margin: 20px 0;
}

.btn{
    font-size: 16px;
    width: 120px;
    height: 50px;
    margin: 5px 1px;
    background: #FFF;
    border-radius: 10px;
}

.operator{
    background: pink;
}

.del{
    background: greenyellow;
}